
/* Header css */
.wrapperHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.link{
    text-decoration: none;
    color: black;
    font-family: 'Inter', 'Playfair Display';
    font-style: normal;
}
.bugerBtn{
    padding: 5px;
    border: none;
    background-color: inherit;
}
.buger{
    display: block;
    width: 25px;
    height: 3px;
    background: #000;
    margin-top: 5px;
}
/* swiper css */
.hero-slider .slide-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  
  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    background: transparent;
    width: 55px;
    height: 55px;
    line-height: 53px;
    margin-top: -30px;
    text-align: center;
    border: 2px solid #d4d3d3;
    border-radius: 55px;
    opacity:0;
    visibility:hidden;
    transition:all .3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
    transform:translateX(0);
    opacity:1;
    visibility:visible;
}
.hero-slider .swiper-button-prev:after {
    font-family: "Font Awesome 5 Free";
    content: "\f060";
    font-size: 15px;
    color: #d4d3d3;
    font-style: normal;
    position: relative;
    right: 0px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
  }
  
  .hero-slider .swiper-button-next {
    right: 25px;
    transform:translateX(-50px);
  }
  
  .hero-slider .swiper-button-next:after {
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-size: 15px;
    color: #d4d3d3;
    position: relative;
    left: 0px;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
  }
  
  .hero-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: left;
    line-height: 12px;
    font-size: 12px;
    color: #000;
    opacity: 0.3;
    background:#fff;
    transition:all .2s ease;
  }
  
  .hero-slider .swiper-pagination-bullet-active {
    opacity:1;
  }
  
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-pagination-fraction {
    bottom: 30px;
}
.swiper-pagination {
    text-align:left;
}
.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
bottom:50px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}


/* Hero section start */
.hero{
    margin-top: 90px;
}
.hero_Inner{position: relative;
}
.heroTitle{
    text-align: center;
    font-size: 210px;
    font-family: 'Playfair Display';
}
.heroImages{
    position: relative;
}
.imgLeft{
    width: 320px;
    position: absolute;
    top: 60px;
    left: 140px;
    z-index: 9999;
}
.mainImg{
    width: 520px;
    position: absolute;
    top: -80px;
    left: 370px;
    z-index: 999;
}
.imgRight{
    width: 290px;
    position: absolute;
    top: -50px;
    right: 210px;
}
.heroText{
    position: absolute;
    width: 312px;
    right: 110px;
    top: 590px;
    font-size: 16px;
}
.heroLink{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 350px;
}
.linkInfo{
    padding: 15px;
    border: 1px solid black;
    border-radius: 50px;
}

.organization{
    margin-top: 150px;
}
.organizationTitle{
    width: 1077px;
    font-size: 100px;
    font-weight: 400; 
}
.malumot{
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 50 !important;
    text-align: center;
}
.organizationsText{
    text-align: start;
    width: 1200px;
    font-size: 24px;
}
.organizationInfo{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 50px;
}
.orgText{
    width: 599px;
    font-size: 24px;
    font-weight: 400;
}
.arrowBtn{
    margin-top: 50px;
    padding: 15px;
    border: 1px solid silver;
    border-radius: 50%;
    background: #D0AF82;
}

/* Deting section star */

.deting_inner{
    margin-top: 50px;
}
.detingTitle{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.detingTitle .title{
    font-size: 90px;
}
.detingTitle .text{
    font-size: 16px;
    font-weight: 400;
}
.detingINfoIMg{
    width: 580px;
}
.detingIndo{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.detingInfo{
    width: 610px;    
    margin-top: 30px;
}
.authorTitle{
    position: absolute;
    font-size: 100px;
    font-family: 'Playfair Display';
    right: 150px;
    top: 0;
}
.authorDiskrp{
    font-size: 20px;
    font-weight: 400    ;
}
.detingLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* News Sections start */
.news{
    margin-top: 50px;
}
.NewsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 20px;
    row-gap: 20px;
}
.NewsList .item{
    width: 300px;
}
.imgNEws{
    width: 290px;
    border-radius: 5px;
}

/* footer css */
.footer{
    margin-top: 50px;
    background-color: #D0AF82;
    padding: 15px;
}
.imgFooterIcon{
    border: 1px solid black;
    padding: 12px;
    border-radius: 50%;
}