/* Hero */
.slideOne {
  position: relative;
  width: 1240px;
  height: 600px;
}
.slideTwo{
  background: url('../images/img/samarkans.png');
  background-repeat: no-repeat;
  background-position: center;
}
.slideThree{
  background: url('../images/img/dictation.png');
  background-repeat: no-repeat;
  background-position: center;
}
.heroTitle {
  font-family: "Sans Display";
  font-size: 210px;
  text-align: center;
}
.heroTitle2{
  text-align: center;
  font-size: 150px;
  color: white;
}
.heroImages {
  position: relative;
}
.imgLeft {
  width: 320px;
  position: absolute;
  top: -20px;
  left: 200px;
  z-index:5;
}
.mainImg {
  width: 490px;
  position: absolute;
  top: -110px;
  left: 450px;
  z-index: 3;
}
.imgRight {
  width: 270px;
  position: absolute;
  top: -70px;
  right: 370px;
}
.heroText{
  position: absolute;
  width: 360px;
  right: 200px;
  top: 490px;
  font-size: 16px;
}
.heroLink {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 250px  auto 0;
}
.linkInfo {
  padding: 15px;
  border: 1px solid rgb(177, 192, 37);
  border-radius: 50px;
}

.swiper-button-next{
  display: none;
}
.swiper-button-prev{
  display: none;
}
.swiper:hover .swiper-button-next{
  display: block;
}
.swiper:hover .swiper-button-prev{
  display: block;
}
.swiper-button-next::after{
  font-family: 'Font Awesome 5 Free';
  content: "\f061";
  display: inline-block;
  font-size: 15px;
  position: relative;
  right: 20px;  
  font-style: normal;
  font-weight: 900;
  color:#D4D3D3;
  border: 1px solid #D4D3D3;
  padding: 20px;
  border-radius: 50%;
}
.swiper-button-prev::after{
  font-family: 'Font Awesome 5 Free';
  content: "\f060";
  display: inline-block;
  font-size: 15px;
  position: relative;
  left: 5px;  
  font-style: normal;
  font-weight: 900;
  color:#D4D3D3;
  border: 1px solid #D4D3D3;
  padding: 20px;
  border-radius: 50%;
}

/* Organizations */
.organization {
  margin-top: 0px;
}
.organizationTitle {
  width: 1077px;
  font-size: 100px;
  font-weight: 400;
}
.malumot {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 50 !important;
  text-align: center;
}
.orgImg{
  width: 550px;
}
.organizationsText {
  font-family: "Inter";
  text-align: start;
  width: 1200px;
  font-size: 22px;
  font-weight: 400;
}
.arrowBtn {
  padding: 25px;
  border: 1px solid silver;
  border-radius: 50%;
  background: #d0af82;
}
/* Dateing  */
.DetingTitle{  
  width: 1000px;
  font-size: 90px;
  font-weight: 400;
}
.detingINfoIMg {
  width: 580px;
  z-index: -1;
}
.authorTitle {
  position: absolute;
  font-size: 100px;
  font-family: "Playfair Display";
  right: 150px;
  top: 0;
  font-weight: 500;
}
.linkMoreInfo{
  color: #D0AF82;
}

/* News */
.newsTitle{   
  width: 1000px;
  font-size: 80px;
  font-weight: 400;
}
.NewsList {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.imgNEws {
  width: 290px;
  border-radius: 5px;
}
